/*CSS style sheet*/

#main-wrapper{
	width:500px;
	margin: 0 auto;
	background:white;
	padding:5px;
	border-radius:10px;
	border: 2px solid #95a5a6;
}
.avatar{
	
	width:150px;
	text-align:center;
}

.myform{
	width:450px;
	margin:0 auto;
}

.inputvalues{
	width:430px;
	margin:5px auto;
	padding:2px;
}
.radiobtns{
	margin: 10px;
}
.selectbox{
margin: 10px;	
}

#login_btn{
	margin-top:10px;
	background-color:#27ae60;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#register_btn{
	margin-bottom:20px;
	margin-top:10px;
	background-color:#3498db;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

#signup_btn{
	margin-top:10px;
	background-color:#3498db;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

#back_btn{
	margin-top:10px;
	background-color:#e74c3c;
	padding:5px;
	color:white;
	width:30%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
#logout_btn{
	margin-top:10px;
	background-color:#c0392b;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}